.App {
  text-align: center;
}


.Switch{
  width: 10vw;
}

.speech{
  color: #f8f8f8;
  filter: drop-shadow(5px 5px 5px #222);
  font-size: 2rem;
  opacity:0.8;
}

.line-border{
    border-radius: 5px;
    padding: 2%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.4),rgba(255,255,255,0.2));
    box-shadow: 0 0 10px 0 rgba(87, 87, 87, 0.3);
  
}

#__react-alert__ {
  width: "30vw" !important;
}

.statuso{

  display: flex;
  max-Width:"30vw" !important;
}